/*  your css code here. If applicable */
#grid{
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-template-rows: repeat(5, 1fr);
	gap: 10px;
	grid-template-areas: 
		"area-1 area-1 area-1 area-1"
		"area-2 area-3 area-4 area-4"
		"area-2 area-5 area-5 area-6"
		"area-2 area-7 area-8 area-9"
		"area-2 area-10 area-10 area-10";
}
.grid-item{
	background-color: green;
	color: white;
	padding-bottom: 10px;
}